.header {
  padding: 28px 0px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav {
  &__list {
    display: flex;
    grid-gap: 40px;
  }
  &__link {
    position: relative;
    font-size: 15px;
    font-weight: 300;
    &::before {
      @include psevdo;
      width: 100%;
      height: 1.5px;
      background-color: var(--clr-main);
      transform: translateY(5px);
      opacity: 0;
      border-radius: 4px;
      top: 1.5rem;
      transition: all 400ms ease;
    }
    &:hover::before {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@include max-width(700px) {
  .nav {
    display: none;
  }
  .header {
    &__logo {
      max-width: 100px;
    }
  }
}
